* {
  margin: 0;
  padding: 0;
}
body {
  display: grid;
  grid-template-areas:
    "header "
    "main "
    "footer";
}

header {
  grid-area: header;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topheader {
  width: 80%;
  height: 100px;
  display: grid;
  grid-template-areas: "topheader__logo topheader__searchbar topheader__account topheader__cart";
}
.topheader__logo {
  grid-area: topheader__logo;
}
.topheader__logo img {
  width: 100;
}

.topheader__searchbar {
  grid-area: topheader__searchbar;
  display: flex;
  align-items: center;
  border: solid 1px red;
  justify-content: center;
}
.topheader__searchbar form {
  width: 100%;
  justify-content: center;
  display: flex;
}
.search__input {
  width: 80%;
  height: 25px;
}
.search__button {
  color: white;
  border: none;
  background: linear-gradient(180deg, #ed5005 0%, #772803 100%);

  width: 30px;
  border-radius: 0px 2px 2px 0px;
  font-size: 1rem;
}
.topheader__account {
  grid-area: topheader__account;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topheader__account a {
  color: white;
  font-size: 1.5rem;
}
.topheader__cart {
  grid-area: topheader__cart;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topheader__cart a {
  color: white;
  font-size: 1.5rem;
}
.downheader {
  width: 80%;
}
.downheader__icon {
  display: none;
  color: white;
}
.downheader__checkbox {
  display: none;
}
nav {
  display: flex;
  justify-content: flex-start;
}
ul {
  width: 50%;
  border: solid 2px red;
  display: flex;
  list-style: none;
}
li {
  width: 200px;
  border: solid 2px pink;
  margin: 5px;
  padding: 5px;
  color: white;
}

main {
  grid-area: main;
  width: 80%;
  height: 100vh;
  justify-self: center;
  display: flex;
  flex-direction: column;
}
.hero {
  grid-area: hero;
  border: solid 2px blue;
  height: 200px;
}
.top-games {
  height: 200px;
  border: solid 2px black;
}
.pre-order {
  height: 200px;
  border: solid 2px yellow;
}
.beast-deals {
  height: 200px;
  border: solid 2px red;
}
.discover {
  height: 200px;
  border: solid 2px blue;
}
footer {
  grid-area: footer;
  background: black;
  height: 200px;
}

@media (max-width: 1200px) {
  /*Desktop*/
}
@media (max-width: 991px) {
  /*Tablet*/
}
@media (max-width: 767px) {
  body {
    display: grid;
    grid-template-areas:
      "header "
      "main "
      "footer";

    width: 100%;
  }

  header {
    grid-area: header;
    background-color: black;
    display: grid;
    grid-template-columns: auto 90%;
    grid-template-areas: "downheader topheader";
  }
  .topheader {
    width: 100%;
    grid-area: topheader;
    display: grid;
    grid-template-columns: 50% 25% 15% 10%;
    grid-template-areas: "topheader__logo topheader__searchbar topheader__account topheader__cart";
  }
  .topheader__logo {
    grid-area: topheader__logo;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topheader__logo img {
    width: 80%;
  }
  .topheader__searchbar {
    grid-area: topheader__searchbar;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .search__input {
    width: 80%;
    height: 25px;
  }
  .search__button {
    color: white;
    border: none;
    background: linear-gradient(180deg, #ed5005 0%, #772803 100%);
    width: 30px;
    border-radius: 0px 2px 2px 0px;
    font-size: 1rem;
  }
  .topheader__account {
    border: solid 2px blue;
    grid-area: topheader__account;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .topheader__account i {
    font-size: 2rem;
  }

  .topheader__account span {
    display: none;
  }
  .topheader__cart {
    border: solid 2px green;
    grid-area: topheader__cart;
  }
  .downheader {
    grid-area: downheader;
    width: 100%;
  }

  .downheader__icon {
    color: white;
    display: block;
    text-align: center;
    font-size: 2.5rem;
  }
  .downheader__checkbox {
    display: none;
  }
  .downheader__checkbox:checked ~ nav {
    display: block;
  }
  nav {
    display: none;
  }
  ul {
    border: solid 2px red;
    color: white;
    list-style: none;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: fixed;
    background-color: black;
    top: 100px;
  }
  li {
    border: solid 2px pink;
    margin: 5px;
    padding: 5px;
    align-self: center;
  }
  main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  footer {
    grid-area: footer;
    background: black;
    height: 200px;
  }
}
